html,
body,
ul,
li,
h1,
h2,
h3,
input,
textarea {
  margin: 0;
  padding: 0;
  border-width: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 27px; }

a {
  color: #0075ff;
  text-decoration: none; }

.header {
  height: 700px;
  background-image: url("../images/header_new.svg");
  background-size: cover;
  background-position: center;
  position: relative;
  font-weight: bold;
  line-height: 16px; }
  .header__name {
    position: absolute;
    left: 120px;
    top: 396px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: white; }
  .header__name::before {
    content: "";
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 2px;
    background: white;
    margin-bottom: 16px; }
  .header__nav {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0; }
  .header__top {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 24px;
    color: white;
    width: 100%; }
  .header__phone {
    margin-left: 120px; }
  .header__action {
    margin-right: 120px; }
  .header__phone, .header__action {
    position: relative;
    top: 32px; }
  .header__link {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-transform: uppercase; }
  .header__link_mobile {
    color: white;
    border-bottom: 1px solid white; }
  .header__link:hover {
    color: #9fadc2; }
  @media screen and (max-width: 768px) {
    .header {
      height: 580px; }
    .header__name {
      position: absolute;
      left: 20px;
      top: 389px;
      font-size: 46px;
      line-height: 40px;
      letter-spacing: -1px; }
    .header__action {
      display: none; }
    .header__top {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .header__phone {
      width: 18px;
      height: 18px;
      background-image: url(../images/phone.svg);
      margin: 0;
      position: relative;
      top: 10px;
      left: 23px;
      cursor: pointer; }
    .header .phone__link {
      display: none; } }

.phone__link {
  color: white; }

.phone__link_mobile {
  display: block;
  color: white;
  padding-top: 28px; }

.nav {
  color: white;
  text-transform: uppercase; }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav__list:last-child {
    margin-right: 70px; }
  .nav__list_mobile {
    list-style: none; }
  .nav__item {
    padding: 8px 24px;
    margin: 0 26px; }
  .nav__item_mobile {
    padding-left: 21px;
    margin-bottom: 16px;
    max-width: 160px; }
  .nav__item_active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    margin-left: 120px; }
  .nav__link {
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px; }
  .nav__link:hover {
    color: #9fadc2; }
  .nav__link_mobile {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: white; }
  .nav__mobile {
    display: none;
    color: white; }
  @media screen and (max-width: 1280px) {
    .nav__item_active {
      margin-left: 24px; }
    .nav__list:last-child {
      margin-right: 0; }
    .nav__item {
      margin: auto;
      padding: auto; } }
  @media screen and (max-width: 1090px) {
    .nav__list {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media screen and (max-width: 768px) {
    .nav__list {
      display: none; } }

.logo {
  width: 115px;
  height: 76px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .logo {
      position: relative;
      z-index: 1;
      width: 73px;
      height: 48px;
      margin: 0 auto; } }

.section {
  padding: 100px calc(50% - 510px);
  position: relative;
  background: white; }
  .section__heading {
    left: 0;
    right: 0;
    top: -0.5em;
    margin: auto; }
  @media screen and (max-width: 1080px) {
    .section {
      padding: 64px 20px; } }
  @media screen and (max-width: 768px) {
    .section {
      padding: 64px 20px; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__heading {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px; }
  .info__text {
    max-width: 500px; }
  .info__small_heading {
    color: #0075ff;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px; }
  @media screen and (max-width: 768px) {
    .info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .info__heading {
      margin-bottom: 48px;
      font-size: 36px;
      line-height: 36px; } }

.heading {
  font-size: 48px;
  line-height: 48px;
  position: absolute;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .heading__crown {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 23px;
    height: 16px;
    top: calc(100% + 7px);
    margin: auto;
    background-image: url(../images/crown.svg);
    background-repeat: no-repeat; }
  @media screen and (max-width: 768px) {
    .heading {
      font-size: 36px;
      line-height: 36px; }
    .heading__crown {
      margin: 0 auto 30px; } }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px; }
  .photos__wide_left .photos__img:first-child {
    width: calc(67% - 10px); }
  .photos__wide_left .photos__img:last-child {
    width: calc(33% - 10px); }
  .photos__wide_right .photos__img:first-child {
    width: calc(33% - 10px); }
  .photos__wide_right .photos__img:last-child {
    width: calc(67% - 10px); }
  @media screen and (max-width: 768px) {
    .photos__img {
      height: 131px;
      min-width: 129px; }
    .photos__wide_left .photos__img:first-child {
      width: calc(50% - 10px); }
    .photos__wide_left .photos__img:last-child {
      width: calc(50% - 10px); }
    .photos__wide_right .photos__img:first-child {
      width: calc(50% - 10px); }
    .photos__wide_right .photos__img:last-child {
      width: calc(50% - 10px); } }

.gallery__caption {
  margin: 24px 0 40px; }

.gallery__button {
  margin: 40px auto 0; }
  @media screen and (max-width: 768px) {
    .gallery__button {
      width: 280px; } }

.button {
  display: block;
  font-size: 16px;
  line-height: 14px;
  font-weight: bold;
  color: #0075ff;
  background-color: white;
  cursor: pointer;
  padding: 21px 65px;
  border-radius: 8px;
  border: 2px solid #0075ff;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s; }
  .button:hover {
    color: white;
    background-color: #0075ff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }

.link {
  font-weight: bold;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }
  .link:hover {
    color: #0200ff; }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__heading {
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin-bottom: 16px; }
  .consultation__form {
    width: 413px; }
  .consultation__text {
    width: 412px; }
  @media screen and (max-width: 768px) {
    .consultation {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .consultation__form, .consultation__text {
      width: 100%; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__item {
    margin-bottom: 16px; }
  .form__input, .form__button {
    width: 100%; }

.input {
  font-size: 14px;
  line-height: 14px;
  padding: 17px;
  background-color: #f7f8ff;
  border: 1px solid #fff;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .input::-webkit-input-placeholder {
    color: #b9c1ce; }
  .input::-moz-placeholder {
    color: #b9c1ce; }
  .input:-ms-input-placeholder {
    color: #b9c1ce; }
  .input::-ms-input-placeholder {
    color: #b9c1ce; }
  .input::placeholder {
    color: #b9c1ce; }
  .input__textarea {
    height: 144px;
    resize: none; }

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-gap: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 1080px) {
    .testimonials {
      grid-gap: 28px; } }
  @media screen and (max-width: 768px) {
    .testimonials {
      grid-template-columns: 280px;
      grid-gap: 48px; } }

.person {
  text-align: center; }
  .person__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin: 28px auto 4px; }
  .person__position {
    font-size: 14px;
    color: #9fadc2;
    margin: 0; }
  .person__text {
    color: #3e3e3e; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__text {
    margin: 0 194px 0 54px;
    color: #3e3e3e;
    max-width: 413px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contact__info {
    margin-right: 108px; }
  .contact__adrs {
    font-family: "Roboto", sans-serif; }
  .contact__names {
    font-size: 14px;
    color: #9fadc2;
    margin-bottom: 8px; }
  .contact__form {
    width: 100%; }
  .contact__link {
    color: #3e3e3e; }
  @media screen and (max-width: 1080px) {
    .contact__text {
      margin-right: 85px; } }
  @media screen and (max-width: 768px) {
    .contact {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .contact__text {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-left: 0; }
    .contact__info {
      margin: 0; } }

.footer {
  height: 359px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-image: url("../images/footer_new.jpg");
  background-size: cover;
  background-position: center; }
  .footer__logo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .footer {
      height: 206px; } }

.menu__toggle {
  opacity: 0;
  position: absolute;
  top: -100%; }

.menu__span,
.menu__span::before,
.menu__span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }

.menu__span::before {
  content: "";
  top: -8px; }

.menu__span::after {
  content: "";
  top: 8px; }

.menu__toggle:checked ~ .menu__btn > .menu__span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.menu__toggle:checked ~ .menu__btn > .menu__span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0); }

.menu__toggle:checked ~ .menu__btn > .menu__span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.menu__toggle:checked ~ .nav__mobile {
  display: block;
  width: 100%;
  height: 580px;
  background-color: #1940ce;
  padding-top: 120px;
  padding-bottom: 39px;
  -webkit-transform: translate(0, 25%);
          transform: translate(0, 25%);
  -webkit-animation: anim 1s;
          animation: anim 1s; }

@-webkit-keyframes anim {
  from {
    opacity: 0;
    background-color: lightblue; }
  to {
    opacity: 1;
    background-color: #1940ce; } }

@keyframes anim {
  from {
    opacity: 0;
    background-color: lightblue; }
  to {
    opacity: 1;
    background-color: #1940ce; } }

.menu__btn {
  display: none;
  position: absolute;
  width: 25px;
  height: 14px;
  cursor: pointer;
  z-index: 1; }

@media screen and (max-width: 768px) {
  .menu__btn {
    display: block;
    top: 41px;
    right: 23px; } }

/*# sourceMappingURL=main.css.map */
